build
packages

# dotnet
%APPDATA%
TestResults
bin
obj
*.suo
*.user
*.sln.cache
*.nupkg
*.testsettings
*.vsmdi
TestResult.xml
/.vs/ENode/v15/Server/sqlite3/storage.ide-wal
/.vs/ENode/v15/Server/sqlite3/storage.ide-shm
/.vs/ENode/v15/Server/sqlite3/storage.ide
/.vs/ENode/v15/Server/sqlite3/db.lock
